@model AspNetCoreDemoProject.Models.AddProfileImage
@{
    ViewData["Title"] = "WriterAdd";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<form class="form-group" method="post" enctype="multipart/form-data">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Yazar Profil Bilgileri Düzenleme</h4>
                <br />
                <input type="hidden" asp-for="WriterID" class="form-control" />
                <div class="forms-sample">
                    <div class="form-group">
                        <label for="WriterName">Yazar Ad Soyad</label>
                        <input type="text" asp-for="WriterName" class="form-control" placeholder="Name">
                        <span class="text-danger" asp-validation-for="WriterName"></span>
                    </div>
                    <div class="form-group">
                        <label for="WriterMail">Mail Adres</label>
                        <input type="email" asp-for="WriterMail" class="form-control" id="exampleInputEmail3" />
                        <span class="text-danger" asp-validation-for="WriterMail"></span>
                    </div>
                    <div class="form-group">
                        <label for="WriterPassword">Şifre</label>
                        <input type="password" class="form-control" asp-for="WriterPassword" id="exampleInputPassword4" placeholder="Şifre">
                        <span class="text-danger" asp-validation-for="WriterPassword"></span>
                    </div>

                    <div class="form-group">
                        <label>Yazar Görsel</label>
                        <input type="file" name="WriterImage"/>
                    </div>

                    <div class="form-group">
                        <label for="WriterAbout">Yazar Hakkında</label>
                        <textarea class="form-control" asp-for="WriterAbout" id="exampleTextarea1" rows="6"></textarea>
                        <span class="text-danger" asp-validation-for="WriterAbout"></span>
                    </div>
                    <button type="submit" class="btn btn-gradient-primary mr-2">Güncelle</button>
                    <button class="btn btn-light">İptal</button>
                </div>
            </div>
        </div>
    </div>
    
</form>

