@model EntityLayer.Concrete.Category
@{
    ViewData["Title"] = "AddCategory";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Yeni Kategori Girişi</h1>
<br />
<form asp-area="Admin" asp-controller="Category" asp-action="AddCategory" method="post">
    <div class="mb-3">
        <label for="CategoryName" class="form-label">Kategori Adı</label>
        <input type="text" asp-for="CategoryName" class="form-control" aria-describedby="emailHelp">
        <span class="text-danger" asp-validation-for="CategoryName"></span>

    </div>
    
    <div class="mb-3">
        <label for="CategoryDescription" class="form-label">Kategori Açıklaması</label>
        <textarea asp-for="CategoryDescription" class="form-control"></textarea>
        @*<input type="text" asp-for="CategoryID" class="form-control" aria-describedby="emailHelp">*@
        <span class="text-danger" asp-validation-for="CategoryDescription"></span>

    </div>


    <button type="submit" class="btn btn-info">Kategori Kaydet</button>
</form>


